<mat-card class="filme-card">
  <mat-icon class="favorito-toggle" [style.color]="data.favorito ? 'black' : 'gray'"
    (click)="data.favorito = !data.favorito" aria-label="favorito" fontIcon="favorite"></mat-icon>
  <img [src]="data.urlImage" width="95px" style="position: relative; bottom: 10px;">
  <div>
    <table cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="data.status" required>
              <mat-option value="completo">Completo</mat-option>
              <mat-option value="assistindo">Assistindo</mat-option>
              <mat-option value="planeja-assistir">Planeja Assistir</mat-option>
            </mat-select>
          </mat-form-field></td>
        <td><mat-form-field>
            <mat-label>Score</mat-label>
            <input matInput type="number" min="1" max="5" step=".1" [(ngModel)]="data.score">
          </mat-form-field></td>
      </tr>
    </table>
    <mat-form-field>
      <mat-label>Comentários</mat-label>
      <textarea matInput [(ngModel)]="data.comentario"></textarea>
    </mat-form-field>
    <button mat-button id="salvar" class="salvar" color="primary" (click)="salvar()">SALVAR</button>
  </div>
</mat-card>
