<section style="display: grid;">
  <div class="banner" [style]="{
        background: 'linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('+ perfil.headerPerfil +')',
        backgroundSize: 'cover'
     }">
    <div class="status-bar">
      <div class="assistindo" [style.width]="percentualCompleto+'%'"
        [matTooltip]="'assistindo: ' + filmesAssistindo.length" matTooltipPosition="above"></div>
      <div class="completo" [style.width]="percentualAssistindo + '%'"
        [matTooltip]="'terminou de assistir: ' + filmesCompletos.length" matTooltipPosition="above"></div>
      <div class="planeja-assistir" [style.width]="percentualPlanejaAssistir + '%'"
        [matTooltip]="'planeja assistir: ' + filmesPlanejaAssistir.length" matTooltipPosition="above"></div>
    </div>
  </div>
  <div class="info-perfil">
    <div class="foto-perfil"
      [style]="{ background: 'url('+ perfil.fotoPerfil +')', backgroundSize: 'cover' }"></div>
    <span class="nome-usuario">{{ perfil.nomeUsuario }}</span>
    <span>descricao_do_perfil_aqui</span>
  </div>
</section>
<section style="display: flex; justify-content: center; margin-top: -40px;">
  <ul class="horizontal-list">
    <li *ngFor="let itemMenu of menuPerfil" [class]="itemMenu.ativo ? 'active' : ''">
      <a (click)="mudarAba(itemMenu)">{{ itemMenu.titulo }}</a>
    </li>
    <li>
      <mat-icon (click)="criarLista()" fontIcon="add_circle"></mat-icon>
    </li>
  </ul>
</section>
<section>
  <div style="padding: 30px;">
    <router-outlet></router-outlet>
  </div>
</section>
