:host
  display: grid
  justify-content: center

.card-filme
  border-radius: 10px
  width: 124px
  height: 189px
  &:hover
    cursor: pointer

.card-filme:hover + .acoes-filme
  opacity: 1

.acoes-filme
  position: relative
  bottom: 25%
  opacity: 0
  &:hover
    opacity: 1

.edit-button
  color: white
  background: #9B870C
  position: absolute
  transform: scale(.5)

.x-button
  color: white
  background: #8b0000
  position: absolute
  right: 40px
  transform: scale(.5)

.filmes
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  gap: 20px
  width: 720px

.titulo-area
  border-bottom: 1px solid #456
  text-align: center
  letter-spacing: .075em
  margin-bottom: 30px

